.photo {
    max-width: -webkit-fill-available;
    min-height:250px;
    max-height:250px;
    transition: all 0.5s ease;
  }
.card{
    margin-top: 20px;
    border-radius: 8px !important;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;
}
img:hover {
box-shadow: 0 0 32px #333;
}
.fav-button{
    background: linear-gradient(90deg, rgba(26,26,29,1) 0%, rgba(91,31,46,1) 0%, rgba(115,31,51,1) 100%, rgba(149,7,64,1) 100%);
}

.button-div{
    height:50px;
  }
  .button-div Button{
    margin:10px;
    background: linear-gradient(90deg, rgba(26,26,29,1) 0%, rgba(91,31,46,1) 0%, rgba(115,31,51,1) 100%, rgba(149,7,64,1) 100%);
    float: right;
  }